<div class="container">
  <h2 class="text-center">List of Patients</h2>
  <div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped mx-auto">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Description</th>
          <th>Quantite</th>
          <th>Date de Expiration</th>
          <th>Fournisseur</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reactif of reactifs">
          <td>{{ reactif.nom }}</td>
          <td>{{ reactif.description }}</td>
          <td>{{ reactif.quantite }}</td>
          <td>{{ reactif.dateDeExpiration }}</td>
          <td>{{ reactif.fournisseur }}</td>
          <td>
            <button type="button" class="btn btn-warning">
              <i class="fas fa-pencil-alt"></i>
            </button>
          </td>
          <td>
            <!-- <button class="btn btn-sm btn-danger" (click)="deleteReagent(reactif.reactifId)"> -->
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>